<h2>Cadastrar</h2>
<form action="">
    <label for="id">ID</label>
    <input type="text" id="id" name="id" [(ngModel)]="vaga.id"> <br>

    <label for="nome">Nome</label>
    <input type="text" id="nome" name="nome" [(ngModel)]="vaga.nome"> <br>

    <label for="foto">Foto</label>
    <input type="text" id="foto" name="foto" [(ngModel)]="vaga.foto"> <br>

    <label for="descricao">Descrição</label>
    <input type="text" id="descricao" name="descricao" [(ngModel)]="vaga.descricao"> <br>

    <label for="salario">Salário</label>
    <input type="text" id="salario" name="salario" [(ngModel)]="vaga.salario"> <br>

    <button type="button" (click)="cadastrarVaga()">Cadastrar Vaga</button>
    <button type="button" (click)="atualizarVaga(vaga.id)">Atualizar Vaga</button>
    <button type="button" (click)="excluirVaga(vaga.id)">Excluir Vaga</button>
</form>

<!-- Tabela com as vagas já cadastradas -->
<section class="listar-vagas">
  <table class="table">
    <thead>
      <tr>
        <th>Código da Vaga</th>
        <th>Vaga</th>
        <th>Descrição da Vaga</th>
        <th>Salário</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
        <tr class="vagas-row" *ngFor="let vaga of vagas">
            <td>{{vaga.id}}</td>
            <td>{{vaga.nome}}</td>
            <td>{{vaga.descricao}}</td>
            <td>{{vaga.salario}},00</td>
            <td>
              <button class="btn-listar" type="button" (click)="listarVagaPorId(vaga)">Listar</button>
        </tr>
    </tbody>
  </table>
</section>

<div class="rodape"></div>
